@charset "utf-8";
@import url('./theme/default-theme.css');

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100vh;
}

.flex {
  display: flex;
}

* {
  box-sizing: border-box;
}
